In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('data/order_products__prior.csv')
df1 = pd.read_csv('data/products.csv')
df2 = pd.read_csv('data/order_products__train.csv')
df3 = pd.read_csv('data/orders.csv')
df4 = pd.read_csv('data/sample_submission.csv')

In [25]:
df2.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [41]:
sample_df4.to_csv('data/submission.csv', index=False)

In [40]:
sample_df3.to_csv('data/orders(10000).csv', index=False)

In [39]:
sample_df2.to_csv('data/order_products__train(10000).csv', index=False)

In [38]:
sample_df1.to_csv('data/products(10000).csv', index=False)

In [27]:
sample_df=df.sample(n=10000, replace=False)
sample_df=sample_df.reset_index(drop=True)
sample_df=sample_df.sort_index()

In [28]:
sample_df1=df1.sample(n=10000, replace=False)
sample_df1=sample_df1.reset_index(drop=True)
sample_df1=sample_df1.sort_index()

In [29]:
sample_df2=df2.sample(n=10000, replace=False)
sample_df2=sample_df2.reset_index(drop=True)
sample_df2=sample_df2.sort_index()

In [30]:
sample_df3=df3.sample(n=10000, replace=False)
sample_df3=sample_df3.reset_index(drop=True)
sample_df3=sample_df3.sort_index()

In [31]:
sample_df4=df4.sample(n=10000, replace=False)
sample_df4=sample_df4.reset_index(drop=True)
sample_df4=sample_df4.sort_index()

In [13]:
sample_df.head()

   order_id  product_id  add_to_cart_order  reordered
0   3124330        6649                 20          0
1   2734395       40174                  1          1
2   2692985       40063                 11          1
3   2893837       33351                  5          1
4   3092976       39812                  2          1

In [32]:
sample_df1.head()

,product_id,product_name,aisle_id,department_id
0,17557,Organic Green Lentil Elbow Pasta,100,21
1,507,Tikka Masala Curry Sauce,72,13
2,28794,Great Lash Big Washable Mascara - Blackest Black,132,11
3,27528,Nacho Cheese Taco Shells,30,6
4,30732,Organic Blackberry Fruit Spread,88,13

In [33]:
sample_df2.head()

   order_id  product_id  add_to_cart_order  reordered
0   2728393       14168                 46          0
1   2563405       38456                  4          0
2   2935454       18465                  2          0
3   2085359        4945                  3          1
4   3117126       28985                  3          1

In [ ]:
sample_df.head()

In [ ]:
sample_df.head()

In [37]:
sample_df4.value_counts()

order_id  products
1564      39276 29259    1
2281968   39276 29259    1
2279006   39276 29259    1
2279341   39276 29259    1
2279438   39276 29259    1
                        ..
1145279   39276 29259    1
1145287   39276 29259    1
1146054   39276 29259    1
1146075   39276 29259    1
3420168   39276 29259    1
Name: count, Length: 10000, dtype: int64

In [7]:
sample_df.to_csv('data/order_products__prior(10000).csv', index=False)

In [19]:
#sample_df.loc[:,sample_df["order_id"]]
sample_df.head()
df1=sample_df.loc[:,sample_df['order_id']]

KeyError: "None of [Index([3124330, 2734395, 2692985, 2893837, 3092976, 1635202, 1294943, 1795850,\n       2628520,  572009,\n       ...\n       1039262, 1356334, 2686876,  883758,   33002, 1822059, 3298028, 2008334,\n       2569100, 3221206],\n      dtype='int64', length=10000)] are in the [columns]"